<div class="page-header">
  <h1>
    Look at all of these intentional friends...
  </h1>
</div>

<% @users.each do |user| %>

<ul class="list-group">
  <li class="list-group-item">
    <span class="badge">:)</span>
      <tr>
        <td>
          <a href="/users/<%= user.id %>" class="btn btn-primary"><%= user.email %></a>
        </td>
      </tr>
      </li>
  
</ul>
 <% end %> 



