<h2> this is your <strong>LAST</strong> internship <strong>EVER</strong> </h2>

<h2> this summer’s gonna <strong>FLY BY</strong> in a second </h2>

<h2> do <strong>EPIC SHIT</strong> and accomplish your goals </h2>

<h2> be <strong>INTENTIONAL</strong> </h2>

<h2> make this your first <strong>INTENT-SHIP</strong> </h2>

<h2> <a href="/goals/new" class="btn btn-lg btn-success">GET STARTED</a> 
<a href="/goals" class="btn btn-lg btn-success">CHECK-IN OR MAKE SOME CHANGES</a> </h2>