<div class="jumbotron">
  <h1 class="display-3">This is your <strong>LAST</strong> internship <strong>EVER</strong> </h1>
  <p class="lead">Do cool shit and accomplish your goals...be <strong>intentional</strong></p>
  <hr class="my-4">
  <p>You'll set your goals, pick an achievable focus for the day, and get in the right mindset</p>
  <p>Let's make this your first intent-ship</p>
  <p class="lead">
    <a class="btn btn-info btn-lg" href="/goals/new" role="button">GET STARTED</a>
    <a href="/reminders" class="btn btn-lg btn-info">I'VE BEEN HERE BEFORE</a> </h2>
  </p>
</div>


